body {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }


footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}


.upcoming-product {
    text-align: center;
    margin-left: 10%;
    margin-right: 10% ;
} 


.upcoming-product h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}


.upcoming-product video {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 2em;

}

.flex-container .content {
    max-width: 50%;
    margin-left: 40%;
}

.flex-container .images {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.flex-container .images img {
    width: 400px;
    height: 150px; 
    margin-bottom: 10px;
    margin-right: 550%
}

